<header id="header">
    <a id="title" href="<%= url_for() %>" class="logo"><%- config.title %></a>

	<ul id="menu">
		<li class="menu-item">
			<a href="https://blog.zshipu.com"  target="_blank" class="menu-item-link" >博客</a>
		</li>
		<li class="menu-item">
			<a href="/topSegmentfault"  target="_blank" class="menu-item-link" >Segmentfault</a>
		</li>
		<li class="menu-item">
			<a href="/topopencn"  target="_blank" class="menu-item-link" >开源中国</a>
		</li>
		<li class="menu-item">
			<a href="/topcsdn"  target="_blank" class="menu-item-link" >CSDN</a>
		</li>
		<li class="menu-item">
			<a href="/topjuejin"  target="_blank" class="menu-item-link" >掘金</a>
		</li>
		<li class="menu-item">
			<a href="/toplinuxcn"  target="_blank" class="menu-item-link" >Linux中国</a>
		</li>
		<li class="menu-item">
			<a href="/topgoforum"  target="_blank" class="menu-item-link" >go语言中文网</a>
		</li>
		<li class="menu-item">
			<a href="/about"  target="_blank" class="menu-item-link" >ABOUT</a>
		</li>
	</ul>
</header>
